@font-face {
    font-family: "icons";
    src: url("./icons/icons.eot?595439e8970cac7d1626b6f15fefb39c?#iefix") format("embedded-opentype"), url("./icons/icons.woff2?595439e8970cac7d1626b6f15fefb39c") format("woff2"), url("./icons/icons.woff?595439e8970cac7d1626b6f15fefb39c") format("woff"), url("./icons/icons.ttf?595439e8970cac7d1626b6f15fefb39c") format("truetype"), url("./icons/icons.svg?595439e8970cac7d1626b6f15fefb39c#icons") format("svg");
}

.radio input,
.checkbox input {
    opacity: 0;
    position: absolute;
}

.radio label,
.checkbox label {
    padding: 5px 0 0px 33px;
    position: relative;
}

.radio label {
    margin-right: 10px;
}

.checkbox label {
    display: block;
}

.radio label::before,
.checkbox label::before,
.radio input:checked+label::after,
.checkbox input:checked+label::after {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    top: 0;
    left: 0;
    position: absolute;
    height: 30px;
    width: 30px;
}

.radio label::before {
    content: "\f103";
}

.radio input:checked+label::after {
    content: "\f104";
}

.checkbox label::before {
    content: "\f102";
}

.checkbox input:checked+label::after {
    content: "\f101";
}

.checkbox input:focus+label::before {
    border: dotted 1px blue;
    border-radius: 5px;
}

.radio input:focus+label::before {
    border: dotted 1px blue;
    border-radius: 50%;
}