.demo {
    text-align: center;
}

.demo>.demo {
    background-color: #efefef;
    padding: 15px;
    display: inline-block;
    text-align: left;
}

.element {
    padding: 15px 0;
}

.element>.element {
    padding: 0px 0px 15px 0px;
}

h1 {
    margin: 15px 0 0 0;
}

.radio {
    margin-bottom: 30px;
}