.checkbox input {
    opacity: 0;
    position: absolute;
}

label {
    display: block;
    padding: 5px 0 0px 35px;
    position: relative;
}

.checkbox label::before {
    background: url('checkbox.png') no-repeat top left;
    content: "";
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    width: 30px;
}

.checkbox input:checked+label::before {
    background-position-y: -32px;
}