.radio input,
.checkbox input {
    opacity: 0;
    position: absolute;
}

.radio label,
.checkbox label {
    padding: 5px 0 0px 35px;
    position: relative;
}
.checkbox label {
    display: block;
}

.radio label::before,
.checkbox label::before {
    content: "";
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    width: 30px;
}

.checkbox label::before {
    background: url('checkbox.png') no-repeat top left;
}

.radio label::before {
    background: url('radio.png') no-repeat top left;
}

.radio input:checked+label::before {
    background-position-y: -34px;
}

.checkbox input:checked+label::before {
    background-position-y: -32px;
}